.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 8px 12px;
  height: 40px;
  background-color: #2c2c2c;
  color: #e0e0e0;

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: inherit;
    }
  }
}
